@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: Location Info
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 * Base: 16px
 */

/**
 * Grid fallback for IE
 * puts content in the md size content container
 * stacks the content, media, and map
 * with a margin between the content and media/map
 */
.component-location-info {
  .component-location-info__title,
  .component-location-info__content,
  .component-location-info__footer,
  .component-location-info__media-map {
    @include container($container-md, md, left, false);

    @supports (display: grid) {
      @include container($reset: true);
    }
  }

  .component-location-info__media-map {
    margin-top: $gap-vertical-sm;

    @supports (display: grid) {
      margin-top: 0;
    }
  }
}

/**
 * Grid layout application
 * single column to two column on lg
 */
.component-location-info {
  display: grid;
  grid-gap: $gap-vertical-xsm $gap-horizontal-lg;
  grid-template-areas:
  'header'
  'mediaTop'
  'content'
  'footer'
  'mediaBottom';
  grid-template-columns: 1fr;

  @include media('>=lg') {
    grid-template-areas:
    'header  mediaTop'
    'content .'
    'footer .'
    '. mediaBottom';
    grid-template-columns: 25% 1fr;
  }

  .component-location-info__title {
    grid-area: header;
  }

  .component-location-info__content {
    grid-area: content;
  }

  .component-location-info__footer {
    grid-area: footer;
  }

  .component-location-info__media {
    grid-area: mediaTop;
  }

  .component-location-info__media-map {
    grid-area: mediaBottom;

    @include media('>=lg') {
      grid-column: mediaTop-start / mediaBottom-end;
      grid-row: mediaTop-start / mediaBottom-end;
    }
  }
}

/**
 * Section and field styling
 */
.field--name-field-components-location-info,
.field--name-field-components-location-info > .field__item:not(:first-of-type) {
  margin-top: $gap-vertical-mid;

  @include media('>=md') {
    margin-top: $gap-vertical-md;
  }
}

.component-location-info {
  @include container-full-width();

  @include media('>=lg') {
    @include container-full-width($reset: true);
  }

  .component-location-info__title {
    @include type-header(h5, dark, included);
    @include gap-horizontal();
    margin-bottom: 0;
  }

  .component-location-info__content {
    @include gap-horizontal();

    .field--type-address {
      @include type-header(h5, dark, included);

      .administrative-area + .postal-code,
      .locality + .administrative-area,
      .locality + .postal-code,
      .postal-code + .locality {
        padding-left: 0.3em;
      }
    }

    .field--name-field-content p:only-of-type {
      padding-bottom: 0;
    }
  }

  .component-location-info__footer {
    @include gap-horizontal();

    a {
      text-decoration: underline;
    }
  }

  .component-location-info__media .component-location-info__image {
    display: block;

    @include media('>=lg') {
      display: none;
    }
  }

  .component-location-info__media-map .component-location-info__image {
    display: none;

    @include media('>=lg') {
      display: block;
    }
  }

  .address {
    padding: 0;
  }

  .component-location-info__map {
    position: relative;

    .simple-gmap-link a {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      text-indent: -9999px;
      top: 0;
      z-index: 1;
    }
  }
}
