// -----------------------------------------------------------------------------
// Styleguide: Grid
// Grid styleguide layout styles
// -----------------------------------------------------------------------------

.sg-column-box {
  width: 100%;

  code {
    margin: 0;
  }
}

//grid mixin test
.sg .field-group {
  @include grid-row();
  @include grid-row-gutters(
    $gutter-horizontal: true,
    $gutter-horizontal-size: default,
    $gutter-vertical: true,
    $gutter-vertical-size: default
  );

  // 1st through 6 items (first 6)
  .field-item:nth-of-type(-n + 6) {
    @include grid-col(2);
  }

  // 7th through 10th items (middle 4)
  .field-item:nth-child(n+7):nth-child(-n+10) {
    @include grid-col(3);
  }

  // 11th through 13th items (middle 3)
  .field-item:nth-child(n+11):nth-child(-n+13) {
    @include grid-col(4);
  }

  // 14th through 15th items (last 2)
  .field-item:nth-last-of-type(-n + 2) {
    @include grid-col(6);
  }
}
