// -----------------------------------------------------------------------------
// Abstracts/Mixin: Button Styles
// Base button style mixin
// @include btn-base(), @include btn(primary, secondary)
// -----------------------------------------------------------------------------


$btn-primary: setcolor(dark);
$btn-primary-hover: setcolor(light);

$btn-secondary: setcolor(light);
$btn-secondary-hover: setcolor(dark);

// Base button styles
@mixin btn-base($style: primary) {
  background: setcolor(brand);
}
// IF the button is on a div, button, or anchor
// Use a pseudo for the background fill
@mixin btn-pseudo($style: primary) {

}

// Apply the button style and hover target
@mixin btn(
  $style: primary,
  $hover: gradient
  ) {

  @include btn-base($style);

  @if $hover == pseudo {
    @include btn-pseudo($style);
  }
}
