// -----------------------------------------------------------------------------
// Mixin: Links
// Common link styles
//
// === link === //
// @include link-base();
// Options(s):
// • $style(value = dark | light) - default = dark - What version of link we should use.
//
// @include link-underline();
// Option(s):
// • $version(value = none | hover | full) - default = hover - Whether the link should be underlined on hover, at all times, or not at all.
//
// @include link();
// Option(s):
// • $style(value = base | dark | light) - default = base - The version of link we should use. base is used by default, Dark can be used to force the styles to be redeclared.
// • $underline(value = null | none | hover | full) - default = null - Whether the underline version should be declared, and if so, which version.
// -----------------------------------------------------------------------------

@mixin link-base ($style: default) {
  $color: $color-text-link;
  $hover-color: $color-text-link-hover;

  // Light overrides.
  @if $style == reverse {
    $color: $color-text-link-reverse;
    $hover-color: $color-text-link-reverse-hover;
  }

  color: $color;
  text-decoration: none;
  transition: $transition-base;

  &:hover {
    color: $hover-color;
    text-decoration: underline;
  }

  &:focus,
  &:active,
  &:visited,
  &.is-active {
    color: $hover-color;
    outline: none;
  }
}

@mixin link ($style: base) {
  // If style is explicitly stated, include it. Otherwise don't do anything since base is already set on page.
  @if $style != base {
    @include link-base($style);
  }
}
