// -----------------------------------------------------------------------------
// Abstracts/Mixin: Typography
// Global typography for site
// Place on elements as desired
//
// Options:
// • $version(value = h1 - h6) - default = h1 - heading to apply styles to
// • $color(value = light or dark) - default = dark - heading color
// • $globals(value = included or excluded) - default = excluded - include the globals or just override
//
// === h1 === //
// @include type-header(h1, dark, included);
//
// === h2 === //
// @include type-header(h2, dark, included);
//
// === h3 === //
// @include type-header(h3, dark, included);
//
// === h4 === //
// @include type-header(h4, dark, included);
//
// === h5 === //
// @include type-header(h5, dark, included);
//
// === h6 === //
// @include type-header(h6, dark, included);
//
// -----------------------------------------------------------------------------

@mixin type-header (
  $version: h1,
  $color: dark,
  $globals: excluded) {
  // Include if the globals only if explicitly included.
  @if $globals == included {
    letter-spacing: inherit;
    line-height: 1.875;
    margin: 0 0 0.3em;
    padding: 0;
    text-transform: uppercase;
  }

  @if $color == light {
    color: setcolor(light);
  } @else if $color == dark {
    color: setcolor(dark);
  }

  @if $version == h1 {
    @include get-typeset(h1);
    @include setfont($font-brand);
    font-weight: $fw-bold;
    letter-spacing: -0.025em;
    line-height: 0.9;
  } @else if $version == h2 {
    @include get-typeset(h2);
    @include setfont($font-brand);
    font-weight: $fw-bold;
    letter-spacing: -0.025em;
    line-height: 1.33;
  } @else if $version == h3 {
    @include get-typeset(h3);
    @include setfont($font-brand);
    font-weight: $fw-medium;
    letter-spacing: 0;
    line-height: 1.33;
    text-transform: none;
  } @else if $version == h4 {
    @include get-typeset(h4);
    font-weight: $fw-light;
  } @else if $version == h5 {
    @include get-typeset(h5);
    @include setfont($font-brand);
    font-weight: $fw-bold;
    letter-spacing: 0.1em;
    line-height: 1.55;
  } @else if $version == h6 {
    @include get-typeset(h6);
    @include setfont($font-brand);
    font-weight: $fw-bold;
    letter-spacing: 0.2em;
  }
}
