// -----------------------------------------------------------------------------
// Styleguide: Default
// Default styleguide layout styles
// -----------------------------------------------------------------------------

$sg-menu-width: 35rem;

.sg {
  word-wrap: break-word;
}

.sg-menu {
  background-color: setcolor(medium, 40);
  color: setcolor(light);
  bottom: 0;
  font-size: 0.75rem;
  left: -250%;
  max-height: 100vh;
  overflow-y: scroll;
  padding: 4rem 1rem 1rem;
  position: fixed;
  right: 0;
  top: 0;
  transition: $transition-base;
  width: $sg-menu-width;

  .sg-theme-name {
    background-color: setcolor(medium);
    color: setcolor(light);
    margin-bottom: 0;
  }
}

.sg-menu-toggle {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;

  .close {
    display: none;
  }

  .open {
    display: inline-block;
  }
}

.jsa-styleguide-menu {
  .region-header,
  .region-content,
  .region-footer {
    transition: margin-left $transition-base-time $transition-base-style;
  }
}

// User logged in
.user-logged-in.jsa-styleguide-menu--open {
  // menu offset for admin toolbar
  .sg-menu {
    padding-top: calc(#{$admin-toolbar} + 2rem);
  }

  // menu offset for if the tray is open horizontally
  &.toolbar-horizontal.toolbar-tray-open {
    .sg-menu {
      padding-top: calc(#{$admin-toolbar-and-tray-horizontal} + 2rem);
    }
  }

  // menu offset for if the tray is open vertically
  &.toolbar-vertical.toolbar-tray-open.jsa-styleguide-menu--open {
    .region-header,
    .region-content,
    .region-footer {
      @include media('>=md') {
        margin-left: calc(#{$sg-menu-width} + #{$admin-tray-vertical});
      }
    }

    .sg-menu {
      left: $admin-tray-vertical;
    }
  }
}

.jsa-styleguide-menu--open {
  overflow: hidden;

  @include media('>=md') {
    overflow: inherit;
  }

  .region-header,
  .region-content,
  .region-footer {
    @include media('>=md') {
      margin-left: $sg-menu-width;
    }
  }

  .sg-menu {
    left: 0;
    padding-top: 2rem;
  }

  .sg-menu-toggle {
    .close {
      display: inline-block;
    }

    .open {
      display: none;
    }
  }
}

.sg-theme-name {
  background-color: setcolor(medium, 20);
  border-left: 1rem solid setcolor(brand);
  padding: 0.75em 1em;
  font-weight: bold;
  margin: $gap-vertical-sm 0 $gap-vertical-md;
}
