// -----------------------------------------------------------------------------
// Base: Base
// Basic site styles
// -----------------------------------------------------------------------------

/**
 * Body font sizing and base
 */
@at-root {
  @viewport {
    width: device-width;
  }
}

html {
  font-size: $html-font-size;
}

body {
  background-color: $color-white;
  color: $color-black;
  font-family: $font-family-default;
  font-size: $body-font-size;
  font-weight: $font-weight-medium;
  line-height: $body-line-height;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}

/**
 * Box sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

// Set up a decent box model on the root element
html {
  box-sizing: border-box;
}

// Make all elements from the DOM inherit from the parent box-sizing
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Remove focus outline from all block and container elements by default.
 */
article:focus,
details:focus,
div:focus,
header:focus,
main:focus,
figure:focus,
figcaption:focus,
section:focus,
summary:focus,
table:focus,
tbody:focus,
thead:focus {
  outline: none;
}

/**
 * Basic body styles
 */
::-moz-selection {
  background: $color-black;
  color: $color-white;
}

::selection {
  background: $color-black;
  color: $color-white;
}

main {
  outline: none;
}

// height for page wrappers so the site spans the full height of the window
.dialog-off-canvas-main-canvas,
.page {
  height: 100%;
}

// Add margin to system messages.
.messages {
  margin: 1em;
}

// flex on the parent regions wrapper to always keep the footer at the bottom
.page {
  display: flex;
  flex-direction: column;

  @include bs-ie() {
    display: block;
  }
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
  width: auto;
}

figure {
  margin: 0;
  padding: 0;
}
