// -----------------------------------------------------------------------------
// Base: Base
// Basic site styles
// -----------------------------------------------------------------------------

/**
 * Body font sizing and base
 */
@at-root {
  @viewport {
    width: device-width;
  }
}

html {
  font-size: 62.5%;
  font-size: 2.5vw;

  @include media('>=420px') {
    font-size: 2vw;
  }
  @include media('>=sm') {
    font-size: 1.7vw;
  }
  @include media('>=md') {
    font-size: 1.1vw;
  }
  @include media('>=lg') {
    font-size: 0.9vw;
  }
  @include media('>=xl') {
    font-size: 0.8vw;
  }
}

body {
  @include setfont(default);
  background-color: setcolor(light);
  color: setcolor(dark);
  font-size: rem(14px);
  line-height: $body-line-height;
}

html,
body {
  height: 100%;
}

/**
 * Box sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

// Set up a decent box model on the root element
html {
  box-sizing: border-box;
}

// Make all elements from the DOM inherit from the parent box-sizing
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Remove focus outline from all block and container elements by default.
 */
article:focus,
details:focus,
div:focus,
header:focus,
main:focus,
figure:focus,
figcaption:focus,
section:focus,
summary:focus,
table:focus,
tbody:focus,
thead:focus {
  outline: none;
}

/**
 * Basic body styles
 */
body {
  background-color: setcolor(light);
}

main {
  outline: none;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
  width: auto;
}

figure {
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 0;
  padding: 0;
}

// Make tablet toolbar hover over page instead of pushing all content over.
body.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
  margin-left: 0 !important;
}

// Add background to node-preview container.
.node-preview-container {
  background: setcolor(light);
  background: rgba(setcolor(light), 0.8);
}

.page-node-type-press-release .dialog-off-canvas-main-canvas {
  background: setcolor(light);
}
