// -----------------------------------------------------------------------------
// Base: Typography
// Applies global typography variables and mixins to elements and classes
// -----------------------------------------------------------------------------


h1,
.page-title {
  @include type-preset(
    $version: 2,
    $type: header
  );
}

h2 {
  @include type-preset(
    $version: 3,
    $type: header
  );
}

h3 {
  @include type-preset(
    $version: 4,
    $type: header
  );
}

h4 {
  @include type-preset(
    $version: 5,
    $type: header
  );
}

h5 {
  @include type-preset(
    $version: 6,
    $type: header
  );
}

h6 {
  @include type-preset(
    $version: 7,
    $type: header
  );
}

.page-title {
  margin-bottom: 0;
}

.type-paragraph-container {
  @include type-paragraph-container();
}

.page a {
  @include link-base();
}

.page a[href^='https'],
.page a[href^='http'],
.page a[href^='www'] {
  word-break: break-word;
}

p {
  margin: 0;
  padding: 0.75em 0;

  @include media('>md') {
    padding: 1em 0;
  }
}

b,
strong {
  font-weight: $font-weight-black;
}

blockquote {
  margin: 0;
  padding: 0;
}

code {
  background-color: $color-gray;
  display: block;
  font-family: $font-family-monospace;
  line-height: 2;
  margin: 1em 0 2em;
  padding: 1em;
  white-space: pre-line;
}

ol,
ul {
  list-style-position: outside;
  margin: 1em 0;
  padding: 0 0 0 2em;

  &ol {
    list-style-type: decimal;
  }

  &ul {
    list-style-type: disc;
  }
}
