// -----------------------------------------------------------------------------
// Base: Typography
// Applies global typography variables and mixins to elements and classes
// -----------------------------------------------------------------------------

h1,
.page-title,
.type-h1 {
  @include type-h1();
}

h2,
.type-h2 {
  @include type-h2();
}

h3,
.type-h3 {
  @include type-h3();
}

h4,
.type-h4 {
  @include type-h4();
}

h5,
.type-h5 {
  @include type-h5();
}

p {
  @include type-p();

  &:first-of-type {
    margin-top: 0;
  }
}

.type-p-minus {
  @include type-p-minus();
}

main {
  a {
    @include link-base();
  }

  li {
    margin-bottom: 1em;
  }

  strong {
    font-weight: $fw-bold;
  }
}

code {
  @include setfont(mono, $fw-regular);
  @include get-typeset('xs');
  background-color: setcolor(medium, 20);
  display: block;
  margin: $gap-vertical-sm 0 $gap-vertical-md;
  padding: 1em;
  white-space: pre-wrap;
}

.font-default {
  @include setfont(default);
}

.font-brand {
  @include setfont(brand);
}

.font-mono {
  @include setfont(mono);
}

