@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: cta
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-cta {

  .component-cta__title,
  .component-cta__content,
  .component-cta__footer {
    @include container(
      $width: $container-md,
      $align: left
    );
  }

  .component-cta__title {
    @include type-header(h5, dark, included);
    margin-bottom: 0;
  }

  .component-cta__title ~ .component-cta__footer {
    margin-top: $gap-vertical-sm-plus;
  }

  .component-cta__content + .component-cta__footer {
    margin-top: $gap-vertical-sm-plus;
  }

  .component-cta__footer {
    line-height: 0;

    * {
      line-height: normal;
      line-height: initial;
    }
  }

  .component-cta__footer:empty {
    display: none;
  }

  .component-cta__link.button {
    @include btn();
  }

  /* Classy Paragraph Styles: Button Primary, Secondary */
  &.component-cta--primary .component-cta__link.button {
    @include btn(primary);
  }

  &.component-cta--secondary .component-cta__link.button {
    @include btn(secondary);
  }
}

/* Classy Paragraph Styles: No space */
.node--view-mode-full .node--view-mode-full .node__content > .paragraph-component.component-cta.component-cta--no-space,
.page-node-type-landing .node--view-mode-full .node__content > .paragraph-component.component-cta.component-cta--no-space {
  @include classy-no-space();
}
