@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: Section
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Classy Styles
 */
.component-section {

  // gap for components within sections
  .component-section__content > .paragraph-component:not(:first-child) {
    @include gap-vertical(
      $property: margin,
      $breakpoint: md,
      $gap-small: $gap-vertical-xsm,
      $gap-large: $gap-vertical-sm
    );
  }

  /**
 * Classy Styles Column 1 - 2
 */
  &.column-1-2 > .component-section__content {
    @include grid-row();
    @include grid-row-gutters(
      $gutter-horizontal: true,
      $gutter-horizontal-size: narrow,
      $gutter-vertical: true,
      $gutter-vertical-size: wide
    );

    @include media('>#{$bp-xl}') {
      @include grid-row-gutters(
        $gutter-horizontal: true,
        $gutter-horizontal-size: wide,
        $gutter-vertical: true,
        $gutter-vertical-size: wide
      )
    }

    > .component-media {
      @include media('<sm') {
        margin-bottom: 0;
      }
    }

    > .paragraph-component {
      @include grid-col(12);
      @include grid-clear-vertical-spacing();

      @include media('>sm') {
        @include grid-col(6);
        @include grid-clear-vertical-spacing(2);
      }
    }
  }

  /**
   * Classy Styles: Column 1 -2 - 3
   */
  &.column-1-2-3 > .component-section__content {
    @include grid-row();
    @include grid-row-gutters(
      $gutter-horizontal: true,
      $gutter-horizontal-size: narrow,
      $gutter-vertical: true,
      $gutter-vertical-size: wide
    );

    @include media('>#{$bp-xl}') {
      @include grid-row-gutters(
        $gutter-horizontal: true,
        $gutter-horizontal-size: wide,
        $gutter-vertical: true,
        $gutter-vertical-size: wide
      )
    }

    > .component-media {
      @include media('<sm') {
        margin-bottom: 0;
      }
    }

    > .paragraph-component {
      @include grid-col(12);
      @include grid-clear-vertical-spacing();

      @include media('>sm', '<=lg') {
        @include grid-col(6);
        @include grid-clear-vertical-spacing(2);
      }

      @include media('>lg') {
        @include grid-col(4);
        @include grid-clear-vertical-spacing(3);
      }
    }
  }

  /**
   * Classy Styles: Section 4 columns
   */
  &.column-1-2-4 > .component-section__content {
    @include grid-row();
    @include grid-row-gutters(
      $gutter-horizontal: true,
      $gutter-horizontal-size: narrow,
      $gutter-vertical: true,
      $gutter-vertical-size: wide
    );

    @include media('>#{$bp-xl}') {
      @include grid-row-gutters(
        $gutter-horizontal: true,
        $gutter-horizontal-size: wide,
        $gutter-vertical: true,
        $gutter-vertical-size: wide
      )
    }

    > .component-media {
      @include media('<sm') {
        margin-bottom: 0;
      }
    }

    > .paragraph-component {
      @include grid-col(12);
      @include grid-clear-vertical-spacing();

      @include media('>sm', '<=lg') {
        @include grid-col(6);
        @include grid-clear-vertical-spacing(2);
      }

      @include media('>lg') {
        @include grid-col(3);
        @include grid-clear-vertical-spacing(4);
      }
    }
  }
}
