@charset 'UTF-8';

// Globals
@import '../../globals';

// Component
.component-media--layout-slider {

  .component-media__content {
    // Initial styles set.
    &:not(.slick-initialized) {
      .component-slider-slide {
        display: none;

        &:first-child {
          display: block;
        }
      }
    }
  }

  figure {
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    max-width: 100vw;

    .field {
      height: 100%;
    }

    iframe {
      height: 100%;

      //@include mq-large('up') {
      //  height: 460px;
      //}
    }

    img {
      display: block;
      height: 100%;
      max-width: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .slick-slider {
    .slick-track {
      height: 80vh;

      //@include mq-medium('up') {
      //  height: 60vh;
      //}
      //
      //@include mq-large('up') {
      //  height: auto;
      //}
    }

    .slick-next {
      right: 1rem;
      z-index: 1;
    }

    .slick-prev {
      left: 1rem;
      z-index: 1;
    }
  }
}
