// -----------------------------------------------------------------------------
// Abstracts/Variables: Typography
// Global typography for site
// -----------------------------------------------------------------------------

/**
 * Root Font Sizing
 * Top level and function variables
 */

// <html> and <body> font sizes
$html-font-size: 100%;
$body-font-size: 16px;
$body-line-height: 1.625;

// Functions
$em-base-multiplyer: $body-font-size;
$font-size-base-rem: $body-font-size;

/**
 * Font families
 * Preferred and fallback font families
 */
$font-family-default: 'Arial', sans-serif !default;
$font-family-brand: 'Times New Roman', 'Times', serif !default;
$font-family-monospace: 'Lucida Sans Typewriter', 'Lucida Console', 'monaco', 'Bitstream Vera Sans Mono', monospace !default;

/**
 * Font Weights
 * Names for commonly used font weights
 */
$font-weight-black: 900;
$font-weight-extra-bold: 800;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

$font-weights: (
  black: $font-weight-black, // sass-lint:disable-line no-color-keywords
  extra-bold: $font-weight-extra-bold,
  bold: $font-weight-bold,
  semi-bold: $font-weight-semi-bold,
  medium: $font-weight-medium,
  regular: $font-weight-regular,
  light: $font-weight-light,
);

/**
 * Font sizes
 * Base and heading sizes
 * BASE 16
 */
$font-size-preset-1: rem(44);
$font-size-preset-2: rem(28);
$font-size-preset-3: rem(22);
$font-size-preset-4: rem(18);
$font-size-preset-5: rem(16);
$font-size-preset-6: rem(14);
$font-size-preset-7: rem(12);
$font-size-preset-8: rem(10);
$font-size-preset-9: rem(8);

$font-sizes: (
  1: $font-size-preset-1,
  2: $font-size-preset-2,
  3: $font-size-preset-3,
  4: $font-size-preset-4,
  5: $font-size-preset-5,
  6: $font-size-preset-6,
  7: $font-size-preset-7,
  8: $font-size-preset-8,
  9: $font-size-preset-9
);

/**
 * Random sizes
 * Collection of things for mixins or classes
 */
$type-paragraph-container: 75ch;

