@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Node: Teaser and Masonry
// For shared styles
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Node default
 */
.node--view-mode-teaser,
.node--view-mode-masonry {
  display: block;
  position: relative;
  transform: translateZ(0); // enables hardware acceleration to avoid transition lag

  > .link-read-more {
    @include trbl();
    z-index: 1;
  }

  a {
    position: relative;
    z-index: 2;
  }

  // item separator that shows on hover
  &:after {
    background-color: setcolor(brand);
    content: '';
    height: em(3px);
    left: 0;
    opacity: 0;
    position: absolute;
    top: calc(100% + 1.5rem);
    transition: all 200ms ease-out;
    width: 100%;

    @include media('>lg') {
      opacity: 1;
      width: 0;
    }
  }

  .node__media {
    overflow: hidden;

    @include media('<=sm') {
      @include container-full-width;
    }

    img {
      display: block;
      height: auto;
      width: 100%;
      transition: $transition-base;
      width: 100%;
    }
  }

  // default title
  .node__title {
    margin-top: $gap-vertical-xsm;
  }

  .node__title h2 {
    @include type-header(h5, dark, excluded);
    transition: $transition-base;
  }

  // title if it is linked
  .node__title .field--name-title {
    @include icon(chevron, after);

    &:before {
      display: none;
    }

    &:after {
      color: setcolor(brand);
      font-size: 0.75em;
      margin-left: 0.25em;
      transition: $transition-base;
      transition-delay: $transition-base-time / 2;
    }
  }

  // content
  .node__content {
    & > .paragraph-component {
      @include gap-vertical();
    }
  }

  .node__content .field--name-body {
    margin-top: 0.5em;
  }
}

/**
 * Node on hover
 */
.node--view-mode-teaser:hover,
.node--view-mode-masonry:hover {
  .node__title h2 {
    color: setcolor(brand);
  }

  img {
    transform: scale(1.05);
  }

  &:after {
    opacity: 1;

    @include media('>lg') {
      width: 100%;
    }
  }

  .node__title .field--name-title:after {
    color: setcolor(dark);
  }
}
