// -----------------------------------------------------------------------------
// Regions/Header: Base
// Bse layout for the header region
// -----------------------------------------------------------------------------

.region-header {
  @include gap-horizontal();
  background-color: setcolor(medium, 40);
  padding-bottom: $gap-vertical-sm;
  padding-top: $gap-vertical-sm;

  .block-system-branding-block__content {
    @include flex();
    @include flex-x(align-items, center);

    a {
      @include link-base();
    }

    .site-logo,
    .site-logo img {
      font-size: 4rem;
      height: 1em;
      overflow: hidden;
      width: 1em;
      //opacity: 0;
      //visibility: hidden;
    }

    .site-name {
      @include type-h5();
      margin: 0 $gap-horizontal-sm;
    }
  }
}
